

        body {
            margin: 0%;
            box-sizing: border-box;
            /* display: flex; */
            flex-direction: column;
            justify-content: center;
            /* height: 100vh; */
            width: 100vw;
            max-width: 100vw;
            overflow-x: hidden;
            /* padding-top: 4rem; */
        }

        /* imgs containers; profile*/
        #profile{
            height: 30vh;
            width: 90%;
            background: red;
        }
        #before, #after{
            display: flex;
            gap: 1rem;
        }


        #map {
            height: 70vh;
            width: 90%;
            margin-top: 2vh;
        }

        .one{
            width: 100%;
        }
        .on{
            background: rgb(238, 84, 84);
        }

        .form button{
            cursor: pointer;
            background: #54db7b;
            padding: 1rem;
            border: none;
            border-radius: .4rem;
            transition: .1s linear;
            font-size: 1.5rem;
        }
        label:hover, button:hover{
            background: #33a353;
        }
        input{
            font-size: 1.3rem;
        }
        .form{
            width: fit-content;
            margin-top: 2rem;
        }


        /* input fields */

        
        button{
            cursor: pointer;
            background: #54db7b;
            padding: 1rem;
            border: none;
            border-radius: .4rem;
            transition: .1s linear;
        }
        .form {
            padding: 1rem;
            background: rgb(105, 255, 105);
            margin: 1rem;
            max-width: 80%;
            font-size: 1.5rem;
            border-radius: 1rem;
        }
        .form *{
            margin: 1rem;
        }


/* basic styling */

header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
}

.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
}

.logo {
    height: max-content;
    width: max-content;
    height: 4rem;
    width: 4rem;
}

.step {
    height: 5vh;
}

.h {
    background: #29D659;
}

.f {
    background: #19652E;
}

.body {
    background: #C0F9D0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label{
    background: #54db7b;
    cursor: pointer;
    padding: .4rem;
    transition: .2s linear;
}

footer {
    min-height: 15vh;
    color: white;
    padding: 1rem;
    background: #1F2721;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
}
footer a{
    all: unset;
    cursor: pointer;

}




.red {
    background: rgb(223, 39, 39);
}

.green {
    background: rgb(41, 168, 77);
}

.black {
    background: rgb(10, 10, 10);
}

.white {
    background: rgb(245, 245, 245);
}

#toTreeImgs{
    opacity: 0;
}

@media all and (max-width: 500px){

    .body{
        /* display: block; */
        justify-content: center;
    }
    #map{
        height: 50vh;
        width: 70vw;
        /* height: 100%; */
        /* width: 100%; */
        margin-left: -4rem;
    }
    #profile{
        width: 90%;
    }
    footer{
        flex-direction: column;

    }

}


