

        /* basic */
        /* header */
        
header {
    /* width: 100%; */
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    /* direction: ltr; */

}

.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
}

.logo {
    height: max-content;
    width: max-content;
    height: 4rem;
    width: 4rem;
}




        /* main */

        main{
            position: relative;
        }
        #map{
            height: 90vh;
            width: 90vw; 
            border: 2px solid black;
            border-radius: .3rem;
            margin-top: 2rem;
            height: 90vh;
            width: 90vw;  
        }
        #map *{
            font-size: 1rem;
            direction: ltr;
        }

        .body {
            background: #C0F9D0;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        
        #profile{
            position: absolute;
            top: .8rem;
            height: 26vh;
            width: 84%;
            background: rgb(123, 255, 163);
            z-index: 1004;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: .6rem;
        }
        
        #beforeandafter{
            justify-content: space-between;
            gap: 1.5rem;
            width: 100%;
        }
        #beforeImgs, #afterImgs{
            display: flex;
            gap: .3rem;
            background: rgb(150, 255, 181);
            height: 90%;
            width: 90%;
            flex-direction: row;
            overflow-x: scroll;
        }
        
        #beforeImgs img, #afterImgs img, .smType {
            background-image: url("../../Telegram-Logo.png");
            background-size: cover;
            background-position: center;
            min-height: 100%;
            min-width: 33%;
        }
        #beforeImgs, #afterImgs{
            display: flex;
            height: 90%;
            width: 90%;
        }
        #moreinfo{
            height: auto;
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-size: 1.4rem;
            background: rgb(105, 255, 105);
            border-radius: 1rem;
        }
        #beforeandafter{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
        }
        
        .form{
            width: fit-content;
            margin-top: 2rem;
            padding: 1rem;
            background: rgb(105, 255, 105);
            margin: 1rem;
            max-width: 80%;
            font-size: 1.5rem;
            border-radius: 1rem;
        }
        .form *{
            margin: .3rem;
        }
        .form div{
            background: #a0f7b9;
            border-radius: .6rem;
        }
        
        #addUnconFinishedCoords, #addUnconUnfinishedCoords {
            background-image: url("../marker-icon-2x-green.png");
            background-position: center;
            background-size: cover;
        }
        #addUnconUnfinishedCoords{
            background-image: url("../marker-icon-2x-red.png");
        }

        .suggest{
            all: unset;
            /* background: #33a353; */
            background: #29D659;
            border-radius: .8rem;
            cursor: pointer;
            padding: .4rem;
            display: none;
        }
        header {
            height: 15vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: .5rem 2rem;
        }

        .logo div {
            height: 30%;
            width: 75%;
            margin-bottom: 10%;
            transform: rotateZ(-15deg);
        }

        .logo {
            height: max-content;
            width: max-content;
            height: 4rem;
            width: 4rem;
        }

        header button{
            padding: 1rem;
        }



    
        /* footer */
        footer {
            /* min-height: 20vh; */
            border-top: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 2rem;
            gap: 3rem;
            width: 100%;
        }
        .features{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
        }
        
        .features, h2{
            width: 100%;
            /* height: 5vh; */
            /* color: white; */
            text-align: center;
            font-size: 2rem;
        }
        .features div{
            color: white;
            text-align: center;
            font-size: 2rem;
            background: #1F2721;
            border-radius: .4rem;
            display: block;
            width: fit-content;
            margin: .2rem auto;
            padding: 1rem;
            transition: .1s linear;
            display: inline-block;
        }
        .features div:hover{
            background: rgb(52, 56, 54);
        }
        .features img{
            height: 4rem;
        }
        #info div, .features, .additionalInfo {
            min-width: 20vw;
            max-width: 80vw;
            color: black;
            /* height: 40vh; */
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            border: 1px solid black;
            transition: .1s linear;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
            /* cursor: pointer; */
            background: white;
        }
        
        #info div:hover, .features:hover {
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            transform: scale(1.01);
        }
        
        footer span {
            height: 1.5rem;
            width: 3rem;
            /* margin-bottom: 10%; */
            margin-bottom: .2rem;
            transform: rotateZ(-15deg);
            align-self: flex-start;
        }
        footer img{
            height: 3rem;
        }
        
        #info{
            /* background: red; */
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        #info img{
            height: 2rem;
        }
        


        /* elements */

        b{
            color:red;
        }

        main div,main p,main h1,main h2,main h3,main h4,main h5,main h6{
            direction: rtl;
        }
        p{
            line-height: 0;
        }
        ul{
            /* color: white; */
        }
        li{
            background: #C0F9D0;
            border-radius: .4rem;
            margin-bottom: .2rem;
        }
        button{
            cursor: pointer;
            background: #54db7b;
            padding: 1rem;
            border: none;
            border-radius: .4rem;
            transition: .1s linear;
            font-size: 1.5rem;
        }
        label{
            background: #54db7b;
            cursor: pointer;
            padding: .4rem;
            transition: .2s linear;
            border-radius: .2rem;
        }
        
        label:hover, button:hover{
            background: #33a353;
        }
        input[type=file]{
            display: none;
        }
        
        body {
            margin: 0%;
            box-sizing: border-box;
            width: 100vw;
            max-width: 100vw;
            overflow-x: hidden;
            background: #1F2721;

        }
        body *{
            font-size: 1.5rem;
        }



        /* shared */

        .on{
            background: rgb(223, 39, 39);
        }
        
        .red {
            background: #ff2a2a;
        }
        
        .green {
            background: #27f060;
        }
        
        .black {
            background: #0a0a0a;
        }
        
        .white {
            background: rgb(245, 245, 245);
        }        .flex{
            display: flex;
            justify-content: space-around;
        }
        .tored{
            background: red;
        }

@media all and (max-width: 500px){

    .body{
        /* display: block; */
        justify-content: center;
    }
    body *{
        font-size: 1rem;
    }
    #profile{
        transform: translateY(0);
        /* top: .5rem; */
        width: 100vw;
        height: 32vh;
    }
    /* #map{
        margin: 6rem 3rem 0 0 ;
    } */
    #beforeImgs, #afterImgs{
        max-width: 90vw;
        height: 100%;
        overflow-x: scroll;
    }

    #beforeImgs img, #afterImgs img{
        max-width: 10rem;
        max-height: 10rem;
    }
    #beforeImgs img, #afterImgs img, .smType {
        background-image: url("../../Telegram-Logo.png");
        background-size: cover;
        background-position: center;
        min-width: 10rem;
        min-height: 10rem;
    }
    
    footer{
        flex-direction: column;
    }
}




