

        body {
            margin: 0%;
            box-sizing: border-box;
            width: 100vw;
            max-width: 100vw;
            overflow-x: hidden;
        }
        body *{
            font-size: 1.5rem;
        }

/* specific */


        /*profile*/
        #profile{
            position: absolute;
            top: .8rem;
            height: 26vh;
            width: 84%;
            background: rgb(123, 255, 163);
            z-index: 1004;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: .6rem;
        }
        
        #beforeandafter{
            justify-content: space-between;
            gap: 1.5rem;
            width: 100%;
        }
        #beforeImgs, #afterImgs{
            display: flex;
            gap: .3rem;
            background: rgb(150, 255, 181);
            height: 90%;
            width: 90%;
            flex-direction: row;
            overflow-x: scroll;

        }
        
        #beforeImgs img, #afterImgs img, .smType {
            background-image: url("../../Telegram-Logo.png");
            background-size: cover;
            background-position: center;
            /* height: ; */
            min-height: 100%;
            min-width: 33%;
            /* flex-grow: 1; */
            /* flex: 1 1; */

        }
        #beforeImgs, #afterImgs{
            display: flex;
            height: 90%;
            width: 90%;
        }
        #moreinfo{
            height: auto;
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-size: 1.4rem;
            background: rgb(105, 255, 105);
            border-radius: 1rem;
        }
        #beforeandafter{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
        }
        
        /* map */
        #map{
            height: 90vh;
            width: 90vw; 
            border: 2px solid black;
            border-radius: .3rem;
            margin-top: 2rem;
            height: 90vh;
            width: 90vw;  
        }
        #map *{
            font-size: 1rem;
            direction: ltr;
        }

        /* form */
        .form{
            width: fit-content;
            margin-top: 2rem;
            padding: 1rem;
            background: rgb(105, 255, 105);
            margin: 1rem;
            max-width: 80%;
            font-size: 1.5rem;
            border-radius: 1rem;
        }
        .form *{
            margin: .3rem;
        }
        .form div{
            background: #a0f7b9;
            border-radius: .6rem;
        }
        
        #addUnconFinishedCoords, #addUnconUnfinishedCoords {
            background-image: url("../marker-icon-2x-green.png");
            background-position: center;
            background-size: cover;
        }
        #addUnconUnfinishedCoords{
            background-image: url("../marker-icon-2x-red.png");
        }

        /* message */

        /* display lines */
        .suggest{
            all: unset;
            /* background: #33a353; */
            background: #29D659;
            border-radius: .8rem;
            cursor: pointer;
            padding: .4rem;
            display: none;
        }



/* template styling */

header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
}

.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
}

.logo {
    height: max-content;
    width: max-content;
    height: 4rem;
    width: 4rem;
}
.red {
    background: rgb(223, 39, 39);
}

.green {
    background: rgb(41, 168, 77);
}

.black {
    background: rgb(10, 10, 10);
}

.white {
    background: rgb(245, 245, 245);
}

.step {
    height: 5vh;
    padding: 0 2rem;
    height: auto;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.step div{
    background: #0f110f;
    border-radius: .8rem;
    cursor: pointer;
    padding: .4rem;
    /* padding: 1rem; */
    text-align: center;
}

.h {
    background: #29D659;
}

.f {
    background: #19652E;
}

.body {
    background: #C0F9D0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    min-height: 15vh;
    color: white;
    padding: 1rem;
    background: #1F2721;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
}
footer a{
    all: unset;
    cursor: pointer;
}
footer img, .step img{
    width: 2rem;
    background-position: center;
    background-size: contain;
}


#buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3rem;
    right: 1.4rem;
    z-index: 1013;
}
.makeNextBtn{
    background-image: url("../marker-icon-2x-yellow.png");
    background-size: cover;
    background-position: center;
}



@media all and (max-width: 500px){

    .body{
        /* display: block; */
        justify-content: center;
    }
    body *{
        font-size: 1rem;
    }
    #profile{
        transform: translateY(0);
        top: .5rem;
        width: 100vw;
        height: 32vh;
    }
    #map{
        margin: 6rem 3rem 0 0 ;
    }
    #beforeImgs, #afterImgs{
        max-width: 90vw;
        height: 100%;
        overflow-x: scroll;
    }

    #beforeImgs img, #afterImgs img{
        max-width: 10rem;
        max-height: 10rem;
    }
    #beforeImgs img, #afterImgs img, .smType {
        background-image: url("../../Telegram-Logo.png");
        background-size: cover;
        background-position: center;
        min-width: 10rem;
        min-height: 10rem;
    }
    
    footer{
        flex-direction: column;
    }
}






/* multi used */

.flex{
    display: flex;
    justify-content: space-around;
}
.tored{
    background: red;
}




/* absolute */
div, p, h1, h2, h3, h4, h5, h6{
    direction: rtl;
}
p{
    line-height: 0;
}
button{
    cursor: pointer;
    background: #54db7b;
    padding: 1rem;
    border: none;
    border-radius: .4rem;
    transition: .1s linear;
    font-size: 1.5rem;
}
label{
    background: #54db7b;
    cursor: pointer;
    padding: .4rem;
    transition: .2s linear;
    border-radius: .2rem;
}

label:hover, button:hover, a:hover{
    background: #33a353;
}
input[type=file]{
    display: none;
}




